/* css specific to the tweet articles themselves, and the boxes that contain them */

article {
  border-radius: 7px;
  background-color: #734;
  background-image: url('/images/asfalt-dark.png');
  border: 3px solid  rgb(248, 130, 34);
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 50px;
  margin-top: 50px;
}

article.tweet:hover {
  border: solid;
  box-shadow: 7px 7px black;
  opacity: 1;
}

article header {
  height: 50px;
  position: relative;
}

article footer {
  display: flex;
  flex-direction: row;
  border-top: solid;
  padding-top: 10px;
  justify-content: space-between;
}

.tweetPic {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 3px;
  left: 0px;

}

article:hover p.usershandle {
  display: inline-block;
  opacity: 65%;
}

article:hover div.icons {
  justify-content: space-evenly;
  display: flex;
  opacity: 65%;
  font-size: 17px;
}

.usershandle {
  display: none;
  position: absolute;
  right: 10px;
  top: -8px;
}

.usersName {
  position: absolute;
  top: -8px;
  left: 65px;
}

.tweetContents {
  word-wrap: break-word;
}

.icons {
  display: none;
}

i {
  padding: 10px;
}