.tweetEntryBox {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  color: rgb(248, 130, 34);
  background-color: transparent;
}

.tweetButton {
  border: none;
  background-color: rgb(248, 130, 34);
}

.tweetContainer {
  font-family: Bungee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  
}

